# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.grand-projet-commun-depths-of-hue.iml
# Editor-based HTTP Client requests
/httpRequests/
